/* Selected text */
::selection {
    background              : $first-color;
    color                   : $second-color;
}

.section-title {
    border-bottom           : 1px solid $second-color; 
    font-size               : 2rem;
    font-weight             : 100;
    text-transform          : uppercase;
    line-height             : 0.1em;
    letter-spacing          : 0.15rem;
    word-spacing            : 0.4rem;
    margin                  : 6rem auto 0 auto; 
    width                   : 100%; 

    .section-title-line {
        background          : $first-color;
        padding             : 0 10px 0 0; 
    }
}

.welcome-user-title {
    font-size               : 1.5rem;
    margin                  : 0 0 2rem 0;
}

/* Forms */
.form-control {
    border                  : 1px solid $third-color !important;

    &:active, &:focus {
        border-color        : $fourth-color;
        box-shadow          : 0 0 0 0.25rem rgb(72 160 6 / 80%);
    }
}

/* Btns */

.btn-primary {
    background-color        : $fourth-color;
    border-color            : $third-color;
    color                   : $third-color;

    &:hover, &:focus {
        color               : $first-color;
        background-color    : $fourth-color-dark;
        border-color        : $third-color;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color                   : $first-color;
    background-color        : $fourth-color-dark;
    border-color            : $third-color;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.show>.btn-primary.dropdown-toggle:focus,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    box-shadow              : 0 0 0 0.2rem rgba(72, 160, 6, 0.8) !important;
}

/* Pagination */

.pagination {
    .page-item {
        .page-link {
            color           : $second-color;
        }
    }

    .page-item.active {
        .page-link {
            background-color: $third-color;
            border-color    : $third-color;
            color           : $first-color !important;
        }
    }
    
}
