// Colors
$first-color        : #E5E5E5;
$second-color       : #222222;
$third-color        : #6C757D;
$fourth-color       : #C8EBAD;
$fourth-color-dark  : #50A111;
$five-color         : #ED7070;

// Typography
$principal-font     : 'Roboto', sans-serif;
$font-size-base     : 1rem;
$line-height-base   : 1.6;

/* Dark mode */
@media (prefers-color-scheme: dark) {
  
    $first-color  : #E5E5E5;
    $second-color : #222222;  
  
}

/* High contrast */
@media (prefers-contrast: high) {

    $first-color  : black;
    $second-color : white; 
}
